<!doctype html>
<html>
  {% extends "base.html" %} {% block content %}
  <head>
    <title>Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='stylesheet.css') }}"
    />
  </head>
  <body>
    <h1>Login for WHO WANTS YOU</h1>
    {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
    <form method="POST" action="">
      {{ form.hidden_tag() }} {{ form.username }} {{ form.password }} {{
      form.submit }}
    </form>
    <a href="/register"
      ><button>Dont have an account? Register here!</button></a
    >
  </body>
</html>
{% endblock %}
