<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block content %}
  <head>
    <title>Profiles</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
      .card {
        margin-bottom: 20px;
      }
      .card-img-top {
        width: 300px;
        height: auto;
        object-fit: cover;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container my-5">
      <h1 class="mb-4">Profiles</h1>
      <div class="row">
        {% for profile in profiles %}
          <div class="col-lg-4 col-md-6 mb-4 profile-card" id="profile-{{profile.id}}">
            <div class="card">
              {% if profile.picture %}
                <img src="{{profile.picture}}" class="card-img-top mx-auto d-block" alt="{{ profile.name }}">
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ profile.name }}</h5>
                <p class="card-text">{{ profile.bio }}</p>
                <form method="POST" action="/match/{{profile.id}}" class="match-form">
                  <button type="submit" class="btn btn-primary">Match</button>
                </form>              
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <script>
      $(document).ready(function() {
        $(".match-form").submit(function(event) {
          event.preventDefault();  // prevent the form from doing a page refresh
          
          const form = $(this);
          const profileCard = form.closest('.profile-card');

          $.post(form.attr('action'), function(data) {
            // Assuming the AJAX POST is always successful, hide the profile card
            profileCard.hide();
          });
        });
      });
    </script>

  </body>
</html>
{% endblock %}



